.button {
    font: inherit;
    border: 1px solid #3b0062;
    color: #3b0062;
    background: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:disabled {
    background: #ccc;
    color: #888888;
    cursor: not-allowed;
    border: #ccc;
    box-shadow: none;
  }
  
  .button:disabled:hover,
  .button:disabled:active {
    background: #ccc;
    color: #888888;
    border: #ccc;
  }
  
  .button:hover,
  .button:active {
    background: #3b0062;
    color: white;
  }
  