
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'BlinkMacSystemFont', 'Segoe UI'
}

.app {
    display: flex;
    overflow: hidden;
}

.navbar {
    flex: 0.2;
    background-color: rgb(0, 21, 41);
    height: 1000px;
}

.main {
    flex: 0.8;
    width: 100%;
}

.news-card{
    min-height: 300px !important;
}
.news-image-container{
    display: flex !important;
    justify-content: space-between !important;
}
.news-title {
width: 70%;
}

.news-image-container img{
    width:100px;
    height:100px;
}
.news-card p{
    color: black;
    margin: 10px 0px !important;
}

.routes {
    padding: 20px;
    min-height: 1000px;
    background-color: #f0f2f5;
}

